body{
	background-color:lightgreen; 
font-family:arial;
text-align:centre;
padding: 40px;
}

h1{color:darkgreen;

}
button{ padding: 10px 20px
background-color: darkgreen; 
color:white;
cursor: pointer;
}
img{
	border:4px solid darkgreen;
	border-radius: 10px;
}